<!-- DataTales Example -->
<div th:fragment="dataTable" class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary" th:text="${table_name}"></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th th:each="column : ${account_columns}" th:text="${column}"></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th th:each="column : ${account_columns}" th:text="${column}"></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

